# 2025-07-11-금 관광통계 / 발간보고서
1975년부터 2024년까지 연도별 통계 자료 입니다.
* 방한 외래관광객, 국민 해외관광객, 관광수입, 관광지출, 관광수지
* 2024년 관광수입, 관광지출, 관광수지는 잠정치

# 목표
1시트인 '방한 외래관광객'에서 매년 월별 관광객이 많은 달을 추정해보자.

In [52]:
# 필요 라이브러리 호출
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# 애플 맥 폰트
plt.rcParams['font.family'] = 'AppleGothic'

# 유니코드 마이너스 기호 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

In [8]:
# 데이터 불러오기
file_path = '/Users/yoominsang/study/Download/Data/Yearly_Tourism_Statistics_1975_2024.xlsx'

In [78]:
# xlsc 파일
df = pd.read_excel(file_path, sheet_name='방한 외래관광객', engine='openpyxl')

In [79]:
# 데이터 추출
monthly_data = df.iloc[6:, [0] + list(range(3, 15))].copy()

In [80]:
# 컬럼명 설정
monthly_data.columns = ['Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [82]:
print(df.head())

                월별 방한 외래관광객 (1975-2024) Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0  Visitor Arrivals by Month, 1975-2024        NaN        NaN        NaN
1                                   NaN        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                                  연  도          계        성장률         1월
4                                  Year   Total(명)  Change(%)       Jan.

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3         2월         3월         4월         5월         6월         7월
4       Feb.       Mar.       Apr.        May       Jun.       Jul.

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14
0         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN
3          8월          9월         10월         11월         12월
4        Aug.        Sep.        Oct.        Nov.        Dec.

In [89]:
# 연도를 문자열로 변환
#monthly_data['Year'] = monthly_data['Year'].astype(str)
#'월' 컬럼을 문자열로 변환 (예: 1 → '1월')
df['월'] = df['월'].astype(str) + '월'

KeyError: '월'

In [76]:
# 인덱스를 월로 설정
df.set_index('월', inplace=True)

KeyError: "None of ['월'] are in the columns"

In [87]:
# 데이터 확인 => 행기준 결측치 제거
print(df.shape)
print(df.head(55).dropna())

(55, 15)
   월별 방한 외래관광객 (1975-2024) Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4  \
3                     연  도          계         성장률         1월         2월
4                     Year   Total(명)   Change(%)       Jan.       Feb.
5                     1975     632846        22.3      35494      37979
6                     1976     834239   31.823382      53132      54190
7                     1977     949666   13.836203      63052      66138
8                     1978    1079396   13.660592      71812      74218
9                     1979    1126100    4.326864      81236      81422
10                    1980     976415  -13.292336      71641      76744
11                    1981    1093214   11.962024      67745      68478
12                    1982    1145044    4.741066      82355      71581
13                    1983    1194551    4.323589      76069      82116
14                    1984    1297318    8.602981      81449      82345
15                    1985    1426045    9.922548      87607      89896
16                    1986    1659972     16.4039      93762     101399
17                    1987    1874501   12.923652     120216     117265
18                    1988    2340462   24.857869     126211     137234
19                    1989    2728054   16.560491     175910     181037
20                    1990    2958839    8.459693     191369     199317
21                    1991    3196340    8.026831     202797     239174
22                    1992    3231081    1.086899     232561     265813
23                    1993    3331226    3.099427     215471     213006
24                    1994    3580024    7.468662     234632     260454
25                    1995    3753197    4.837202     260834     272786
26                    1996    3683779    -1.84957     255074     282573
27                    1997    3908140    6.090512     270801     293432
28                    1998    4250216    8.752911     277419     314661
29                    1999    4659785    9.636428     327838     355260
30                    2000    5321792   14.206814     373424     427929
31                    2001    5147204   -3.280624     398095     392689
32                    2002    5347468    3.890734     362304     395402
33                    2003    4752762  -11.121263     384918     408695
34                    2004    5818138   22.415934     423670     403784
35                    2005    6022752     3.51683     458321     477706
36                    2006    6155046    2.196571     433279     453525
37                    2007    6448240    4.763474     436461     469937
38                    2008    6890841    6.863904     485069     530489
39                    2009    7817533    13.44817     607659     666928
40                    2010    8797658   12.537523     569453     638911
41                    2011    9794796    11.33413     586152     667089
42                    2012   11140028    13.73415     753793     810967
43                    2013   12175550    9.295506     753655     815037
44                    2014   14201516   16.639626     842671     886026
45                    2015   13231651   -6.829306     917054    1050706
46                    2016   17241823    30.30742    1077431    1126250
47                    2017   13335758  -22.654594    1220695    1252080
48                    2018   15346879   15.080665     956036    1045415
49                    2019   17502756   14.047658    1104803    1201802
50                    2020    2519118  -85.607307    1272708     685212
51                    2021     967003   -61.61343      58397      65582
52                    2022    3198017  230.714279      81851      99999
53                    2023   11031665  244.953294     434429     479248
54                    2024   16369629   48.387655     880881    1030244

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
3          3월         4월         5월         6월         7월          8월
4        Mar.       Apr.        May       Jun.       Jul.        Aug.
5       48733      50090      54741      56824      54439       60901
6       67721      72636      75719      70727      69515       78207
7       78442      88615      83151      78977      72650       85528
8       88620      93260      97457      93537      84141       95242
9       94674     103420     107847     102237      92006      106788
10      83315      99721      95429      66477      74388       84088
11      85521     105884     110425      91370      93281      103857
12      99026     106283     106818      96854      96566      104960
13      94332     110266     112060     100368     110247      111372
14      99650     123899     117099     112879     108754      120934
15     114208     132524     133871     124336     120385      137427
16     135607     141196     146104     140768     143315      162399
17     154829     163274     174367     166206     161157      180701
18     173089     182152     185396     207756     211383      216431
19     223559     227976     255694     244475     233846      243512
20     242416     253425     250325     259479     253404      266182
21     238993     255745     277575     272068     262671      293781
22     278670     273036     280657     281524     272967      313671
23     258417     251340     263610     266724     263407      334963
24     329920     288783     294071     317483     280580      317241
25     307420     298181     335127     331210     314430      351721
26     311883     295621     323260     306685     292752      322666
27     330085     315434     347497     332837     338436      346828
28     367865     337142     356454     357637     366185      375910
29     398207     354919     399885     398022     391139      407806
30     443937     434071     473849     447890     456447      447317
31     450964     433180     470220     460330     457269      476642
32     449487     444256     437327     403466     459073      477092
33     404640     317171     265186     295508     376923      453805
34     448874     452724     475935     491386     506358      522756
35     532397     497955     475348     467986     494678      529911
36     518041     539636     516238     502267     498441      561531
37     529708     531517     524629     523509     527772      584759
38     592515     569835     570224     539839     568446      580894
39     724117     688586     574559     530506     609258      695880
40     769894     730265     729450     718440     754672      833693
41     781286     754458     743464     795850     881809      977296
42     916357     967593     942602     946333    1009225     1103311
43    1010809     972164     919355    1059082    1205152     1358909
44    1132155    1251374    1239606    1273627    1354753     1454078
45    1238144    1384567    1334212     750925     629737     1069314
46    1389399    1469674    1492680    1554413    1703495     1664303
47    1233640    1075899     977889     991802    1008671     1103506
48    1366100    1331709    1238021    1282093    1254833     1391727
49    1535641    1635066    1485684    1476218    1448067     1586299
50      83497      29415      30806      36938      61012       68797
51      74604      70112      74463      77029      83005       97087
52      96768     127919     175922     227713     263986      310945
53     800575     888776     867130     960638    1032188     1089133
54    1491748    1462797    1418463    1417274    1408499     1563221

   Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14
3           9월         10월         11월         12월
4         Sep.        Oct.        Nov.        Dec.
5        62188       68959       61335       41163
6        77460       90774       74705       49453
7        89828       99762       84919       58604
8       103099      115515       95860       66635
9       108925      106092       78319       63134
10       84395       90348       84113       65756
11       95866      106237       93067       71483
12       90243      120334       92761       77263
13      108922      118860       93737       76202
14      120313      131303      111482       87211
15      128309      135857      123102       98523
16      145856      182229      147942      119395
17      165037      181308      161056      129085
18      237188      247602      226748      189272
19      246940      266560      230075      198470
20      268694      284549      260198      229481
21      276797      315219      290153      271367
22      253522      285057      256798      236805
23      293650      378693      300323      291622
24      298808      340990      321669      295393
25      314046      354634      319713      293095
26      307172      359180      317987      308926
27      327415      366973      318486      319916
28      370064      382106      368947      375826
29      393338      440194      405998      387179
30      459803      470669      455115      431341
31      421076      419422      373855      393462
32      488734      526527      447585      456215
33      440062      475442      446166      484246
34      486468      574693      519539      511951
35      507810      568452      501093      511095
36      537091      578061      521265      495671
37      557825      646106      562287      553730
38      587853      650504      579022      636151
39      678691      737373      642672      661304
40      764693      872550      738271      677366
41      906813      988320      869876      842383
42      986961     1025705      842189      834992
43     1156913     1087974      907901      928599
44     1245777     1317482     1117398     1086569
45     1206764     1383704     1150074     1116450
46     1523928     1587797     1309055     1343398
47     1078653     1165638     1093217     1134068
48     1278604     1527832     1350390     1324119
49     1459664     1656195     1456429     1456888
50       65040       61585       61764       62344
51       89800       92416       94358       90150
52      337638      476097      459906      539273
53     1098034     1229899     1114990     1036625
54     1464300     1600263     1361076     1270863

In [88]:
# 필요없는 데이터 삭제
col_drop = df.columns[1:3]
state_data = df.drop(columns=col_drop).iloc[6:55]
print(state_data)

   월별 방한 외래관광객 (1975-2024) Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
6                     1976      53132      54190      67721      72636
7                     1977      63052      66138      78442      88615
8                     1978      71812      74218      88620      93260
9                     1979      81236      81422      94674     103420
10                    1980      71641      76744      83315      99721
11                    1981      67745      68478      85521     105884
12                    1982      82355      71581      99026     106283
13                    1983      76069      82116      94332     110266
14                    1984      81449      82345      99650     123899
15                    1985      87607      89896     114208     132524
16                    1986      93762     101399     135607     141196
17                    1987     120216     117265     154829     163274
18                    1988     126211     137234     173089     182152
19                    1989     175910     181037     223559     227976
20                    1990     191369     199317     242416     253425
21                    1991     202797     239174     238993     255745
22                    1992     232561     265813     278670     273036
23                    1993     215471     213006     258417     251340
24                    1994     234632     260454     329920     288783
25                    1995     260834     272786     307420     298181
26                    1996     255074     282573     311883     295621
27                    1997     270801     293432     330085     315434
28                    1998     277419     314661     367865     337142
29                    1999     327838     355260     398207     354919
30                    2000     373424     427929     443937     434071
31                    2001     398095     392689     450964     433180
32                    2002     362304     395402     449487     444256
33                    2003     384918     408695     404640     317171
34                    2004     423670     403784     448874     452724
35                    2005     458321     477706     532397     497955
36                    2006     433279     453525     518041     539636
37                    2007     436461     469937     529708     531517
38                    2008     485069     530489     592515     569835
39                    2009     607659     666928     724117     688586
40                    2010     569453     638911     769894     730265
41                    2011     586152     667089     781286     754458
42                    2012     753793     810967     916357     967593
43                    2013     753655     815037    1010809     972164
44                    2014     842671     886026    1132155    1251374
45                    2015     917054    1050706    1238144    1384567
46                    2016    1077431    1126250    1389399    1469674
47                    2017    1220695    1252080    1233640    1075899
48                    2018     956036    1045415    1366100    1331709
49                    2019    1104803    1201802    1535641    1635066
50                    2020    1272708     685212      83497      29415
51                    2021      58397      65582      74604      70112
52                    2022      81851      99999      96768     127919
53                    2023     434429     479248     800575     888776
54                    2024     880881    1030244    1491748    1462797

   Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12  \
6       75719      70727      69515       78207       77460       90774
7       83151      78977      72650       85528       89828       99762
8       97457      93537      84141       95242      103099      115515
9      107847     102237      92006      106788      108925      106092
10      95429      66477      74388       84088       84395       90348
11     110425      91370      93281      103857       95866      106237
12     106818      96854      96566      104960       90243      120334
13     112060     100368     110247      111372      108922      118860
14     117099     112879     108754      120934      120313      131303
15     133871     124336     120385      137427      128309      135857
16     146104     140768     143315      162399      145856      182229
17     174367     166206     161157      180701      165037      181308
18     185396     207756     211383      216431      237188      247602
19     255694     244475     233846      243512      246940      266560
20     250325     259479     253404      266182      268694      284549
21     277575     272068     262671      293781      276797      315219
22     280657     281524     272967      313671      253522      285057
23     263610     266724     263407      334963      293650      378693
24     294071     317483     280580      317241      298808      340990
25     335127     331210     314430      351721      314046      354634
26     323260     306685     292752      322666      307172      359180
27     347497     332837     338436      346828      327415      366973
28     356454     357637     366185      375910      370064      382106
29     399885     398022     391139      407806      393338      440194
30     473849     447890     456447      447317      459803      470669
31     470220     460330     457269      476642      421076      419422
32     437327     403466     459073      477092      488734      526527
33     265186     295508     376923      453805      440062      475442
34     475935     491386     506358      522756      486468      574693
35     475348     467986     494678      529911      507810      568452
36     516238     502267     498441      561531      537091      578061
37     524629     523509     527772      584759      557825      646106
38     570224     539839     568446      580894      587853      650504
39     574559     530506     609258      695880      678691      737373
40     729450     718440     754672      833693      764693      872550
41     743464     795850     881809      977296      906813      988320
42     942602     946333    1009225     1103311      986961     1025705
43     919355    1059082    1205152     1358909     1156913     1087974
44    1239606    1273627    1354753     1454078     1245777     1317482
45    1334212     750925     629737     1069314     1206764     1383704
46    1492680    1554413    1703495     1664303     1523928     1587797
47     977889     991802    1008671     1103506     1078653     1165638
48    1238021    1282093    1254833     1391727     1278604     1527832
49    1485684    1476218    1448067     1586299     1459664     1656195
50      30806      36938      61012       68797       65040       61585
51      74463      77029      83005       97087       89800       92416
52     175922     227713     263986      310945      337638      476097
53     867130     960638    1032188     1089133     1098034     1229899
54    1418463    1417274    1408499     1563221     1464300     1600263

   Unnamed: 13 Unnamed: 14
6        74705       49453
7        84919       58604
8        95860       66635
9        78319       63134
10       84113       65756
11       93067       71483
12       92761       77263
13       93737       76202
14      111482       87211
15      123102       98523
16      147942      119395
17      161056      129085
18      226748      189272
19      230075      198470
20      260198      229481
21      290153      271367
22      256798      236805
23      300323      291622
24      321669      295393
25      319713      293095
26      317987      308926
27      318486      319916
28      368947      375826
29      405998      387179
30      455115      431341
31      373855      393462
32      447585      456215
33      446166      484246
34      519539      511951
35      501093      511095
36      521265      495671
37      562287      553730
38      579022      636151
39      642672      661304
40      738271      677366
41      869876      842383
42      842189      834992
43      907901      928599
44     1117398     1086569
45     1150074     1116450
46     1309055     1343398
47     1093217     1134068
48     1350390     1324119
49     1456429     1456888
50       61764       62344
51       94358       90150
52      459906      539273
53     1114990     1036625
54     1361076     1270863

In [83]:
plt.figure(figsize=(14, 7))

for year in monthly_data.columns:
    plt.plot(monthly_data.index, monthly_data[year], marker='o', label=year)

plt.title('월별 방한 외래관광객 수 (연도별)', fontsize=16)
plt.xlabel('월', fontsize=12)
plt.ylabel('방문자 수', fontsize=12)
plt.grid(True)
plt.legend(title='연도', bbox_to_anchor=(1.05, 1), loc='upper left', fontsize=8)
plt.tight_layout()
plt.show()

TypeError: no numeric data to plot